.content {
	padding: 0 1em;
	overflow-x: hidden
}
@media (max-width: 700px) {
	.content {
		padding: 0 .2em;
	}
}
.hidden {display: none}
.footer {text-align: right}
.spinner {text-align: center}

.who, .file, .branch { 
	word-break: break-all;
}
.file {width: 30%}

@media (min-width: 1200px) {
	.repository, .when, .who {white-space: nowrap}
}


ul.filelist, ul.filelist li {
	padding-left: 0; margin-left: 0.3em; 
	padding-bottom: 0; margin-bottom: 0
}