.content {
	padding: 0 1em;
	overflow-x: hidden
}
@media (max-width: 700px) {
	.content {
		padding: 0 .2em;
	}
}
.file {width: 20%}
.hidden {display: none}
.footer {text-align: right}
.spinner {text-align: center}
.breakword { 
	word-break: break-all;
}
