.content {
	padding: 0 1em;
	overflow-x: hidden
}
@media (max-width: 700px) {
	.content {
		padding: 0 .2em;
	}
}
.hidden {display: none}
.footer {text-align: right}
.spinner {text-align: center}

.who, .file, .branch { 
	word-break: break-all;
}
.file {width: 30%}

@media (min-width: 1200px) {
	.repository, .when, .who {white-space: nowrap}
}


ul.filelist, ul.filelist li {
	padding-left: 0; margin-left: 0.3em; 
	padding-bottom: 0; margin-bottom: 0
}

.diff {border: 1px solid #AAA; width: 100%}
.diffsmall {width: 2em; text-align: center}
.difffile {background-color: #CCC; font-weight: bold; line-height: 2em}
.diffadd {background-color: #CFC}
.diffdel {background-color: #FCC}
.diffadd, .diffdel, .diffsta {
	white-space: pre-wrap;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	tab-size: 4; -moz-tab-size: 4;	
}
.hljs {padding:0; background: inherit}