/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/roboto.css';

@import 'assets/styles/material-icons.css';

@import 'app/component/mat-table-responsive/mat-table-responsive.directive.css';

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
}

td, th {
	border: 1px solid #EEE;
	padding: 8px !important;
}

td {
	vertical-align: top;
}

th {
	font-weight: bold;
	font-size: 150% !important;
}

td ul {
	margin: 0;
	padding-left: 1em;
}

.searchbox {
	float: right;
	margin-right: 1em
}

table img {
	margin-top: 0.5em;
	float: left
}

table a {
	text-decoration: none
}

div.preformatted {
	white-space: pre-wrap;
}

img + div.preformatted {
	margin-left: 25px;
}

form {
	display: table;
	border-spacing: 1em;
}

form>div {
	display: table-row;
}

form input.form-control {
	width: 100%;
	height: 1.5em;
}

input#hours {
	width: 3em;
}

label.control-label {
	display: table-cell;
	text-align: right;
	font-weight: bold;
}

.form-group {
	margin-bottom: 1em;
}

mat-radio-button {
	margin-top: 0.2em;
	margin-right: 3em;
}

.wait {
	text-align: center;
	margin: 10em;
}

.footer {
	text-align: right;
	margin: 1em
}