/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/roboto.css';

@import 'assets/styles/material-icons.css';
@import 'app/mat-table-responsive/mat-table-responsive.directive.css';

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
}

td, th {
	border:1px solid #EEE;
	padding: 8px !important;
}

td {
	vertical-align: top;
}

th {
	font-weight: bold;
	font-size: 150% !important;
}

td ul {
	margin: 0;
	padding-left: 1em;
}